<h1>
  <% if params[:q].nil? %>
    検索ページ
  <% else %>
    検索結果
  <% end %>
</h1>
<p>
  <% if !params[:q].blank? %>
    検索キーワード：<%= @search_keyword %>
  <% end %>
</p>

<%= will_paginate %>

<ul class="shops">
  <% @shops.each do |shop| %>
    <li>
      <section>
        <h4><%= link_to shop.name, shop %></h4>
        <address><%= "#{shop.prefecture.name}#{shop.address}" %></address>
      </section>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
