<% if params[:q].blank? %>
  <% provide(:title, '検索ページ') %>
  <h1>検索ページ</h1>
<% else %>
  <% provide(:title, params[:q] + 'の検索結果') %>
  <h1>検索結果</h1>
<% end %>

<p>
  <% if !params[:q].blank? %>
    検索キーワード：<%= @search_keyword %>
  <% end %>
</p>

<%= render 'shared/search_form' %>

<%= will_paginate %>

<ul class="shops">
  <% @shops.each do |shop| %>
    <li>
      <section>
        <h4><%= link_to shop.name, shop %></h4>
        <address><%= "#{shop.prefecture.name}#{shop.address}" %></address>
      </section>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
