<% if params[:q].blank? %>
  <% provide(:title, '検索ページ') %>
  <h1>検索で探す</h1>
<% else %>
  <% provide(:title, params[:q] + 'の検索結果') %>
  <h1>検索結果</h1>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h2>検索で探す</h2>
    <%= render 'shared/search_form' %>
  </div>
  <div class="col-md-8">
    <p>
      <% if params[:q].present? %>
        検索キーワード：<%= @search_keyword %>
      <% end %>
    </p>
    <%= will_paginate %>

    <ul class="shops list-group">
      <% @shops.each do |shop| %>
        <li class="list-group-item">
          <section>
            <h4><%= link_to shop.name, shop %></h4>
            <address><%= "#{shop.prefecture.name}#{shop.address}" %></address>
          </section>
        </li>
      <% end %>
    </ul>

    <%= will_paginate %>
  </div>
</div>
