<div>
  <table>
    <caption>
      <h1><%= @shop.name %></h1>
    </caption>
    <tbody>
      <tr>
        <th>住所</th>
        <td><%= "#{@shop.prefecture.name}#{@shop.address}" %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @shop.tel %></td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td><%= "#{@shop.open_time.strftime("%k:%M")} 〜 #{@shop.close_time.strftime("%k:%M")}" %></td>
      </tr>
      <tr>
        <th>定休日</th>
        <td><%= @shop.holiday %></td>
      </tr>
      <tr>
        <th>概要</th>
        <td><%= @shop.about %></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <%= image_tag @shop.image.url(:medium) %>
</div>
<div>
  <table>
    <tbody>
      <tr>
        <th>評価</th>
        <td><%= @shop.evaluation %></td>
      </tr>
    </tbody>
  </table>
</div>
